doctype html
html(lang=__("lang"))
    head
        title=__("title")

        link(rel="stylesheet", href="/css/jquery-ui.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")

        script(type="text/javascript", src="/js/jquery-3.2.1.min.js")
        script(type="text/javascript", src="/js/jquery-ui.js")
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")

        link(rel="stylesheet", href="/css/style.css")

        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        nav
            .nav-wrapper
                a.sidenav-trigger(href="#" data-target="hamburger")
                    i.material-icons menu
                ul.left.hide-on-med-and-down
                    li
                        a(href="/")
                            i.fa.fa-home.tiny.left
                            span= __("nav.home")
                    li
                        a(href="https://eden.cloudsixteen.com")
                            i.fa.fa-user-friends.tiny.left
                            span= __("nav.forums")
                    li
                        a(href="https://discord.cloudsixteen.com")
                            i.fab.fa-discord.tiny.left
                            span= __("nav.discord")
                    li
                        a(href="https://wiki.cloudsixteen.com")
                            i.fa.fa-book.tiny.left
                            span= __("nav.wiki")
                ul.right.hide-on-med-and-down
                    if (!user)
                        li
                            a(href="/login").login
                                i.fab.fa-discord.small.left
                                span= __("nav.login")
                    else
                        if (isAdmin)
                            li
                                a(href="/admin")
                                    i.fa.fa-cogs.tiny.left
                                    span= __("nav.admin")
                        li
                            a(href="/licenses")
                                i.fa.fa-key.tiny.left
                                span= __("nav.licenses")
                        li
                            a(href="/logout")
                                i.fa.fa-sign-out-alt.tiny.left
                                span= __("nav.logout")

        ul#hamburger.sidenav
            if (!user)
                li
                    a(href="/login").login
                        i.fab.fa-discord.tiny.left
                        span= __("nav.login")
            else
                if (isAdmin)
                    li
                        a(href="/admin")
                            i.fa.fa-cogs.tiny.left
                            span= __("nav.admin")
                li
                    a(href="/licenses")
                        i.fa.fa-key.tiny.left
                        span= __("nav.licenses")
                li
                    a(href="/logout")
                        i.fa.fa-sign-out-alt.tiny.left
                        span= __("nav.logout")

            li
                a(href="/")
                    i.fa.fa-home.tiny.left
                    span= __("nav.home")
            li
                a(href="https://eden.cloudsixteen.com")
                    i.fa.fa-user-friends.tiny.left
                    span= __("nav.forums")
            li
                a(href="https://discord.cloudsixteen.com")
                    i.fab.fa-discord.tiny.left
                    span= __("nav.discord")
            li
                a(href="https://wiki.cloudsixteen.com")
                    i.fa.fa-book.tiny.left
                    span= __("nav.wiki")

        div.container
            block content-header
            block content
            block footer
                footer
                    | Copyright &copy; <a href="https://cloudsixteen.com">Cloud Sixteen</a>
        .row

    script.
        $(document).ready(function(){
            const error = "#{error}";
            const success = "#{success}";

            if (error) {
                M.toast({html: error, classes: "red center"});
            }

            if (success) {
                M.toast({html: success, classes: "green center"});
            }

            $(".sidenav").sidenav();
        });